@import './var.scss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark: #343843;
  --dark2: rgba(52, 56, 67, 1);
  --dark3: rgba(71, 76, 90, 1);
  --dark4: #757a88;
  --dark5: #1d1e25;
  --background_lighten-dark: #474c5a;
  --text_color_dark: #a2aaca;
  --blue: #3077ff;
  --green: #30e0a1;
  --red: #ff3434;
}
